.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.graph {
  display: flex;
  margin: 5% auto;
  max-width: 800px;
}

.graph g {
  margin: 0 auto;
}

text {
  font-family: 'Avenir', sans-serif;
}

.axis .domain {
  stroke: #bbb;
}

.x .tick line {
  stroke: white;
}

.axis-scatter .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.line-axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.axes-labels text {
  font-size: 0.6em;
  fill: #444;
}
